<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>Vietnam War - Use of Helicopters</title>
  <link rel="stylesheet" href="static/base.css">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>

  <h1>Vietnam War - Use of helicopters</h1><br>

<pre>
Mobile War - The Use of Helicopters

Overview

During the Vietnam War, helicopters were used extensively for a variety of functions, including troop deployments, medevacs, supply drops, air support and reconnaissance .

They were used as traditional fighting methods were ineffective due to the terrain and guerrilla tactics employed by the Viet Cong, which involved small skirmishes and ambushes rather than directly engaging US troops. The increased mobility made possible by helicopters allowed US soldiers to engage the Viet Cong on more favourable terms and respond to attacks faster.

Advantages and Disadvantages

The use of helicopters allowed the US to deploy troops much faster and further then by foot or car, making the war much more mobile than previous wars. They were also able to perform a variety of functions, from evacuating wounded to dropping supplies. Due to the guerrilla tactics used, the additional mobility offered by the helicopter was essential to the war.

However, Vietnam’s terrain was not ideal for helicopters, with heavy jungle obstructing vision and restricting possible Landing Zones. The Vietcong's guerrilla tactics made it difficult for helicopters to scout out and engage targets, and helicopters often came under fire when carrying out operations.


Advantage/Disadvantage
Increased Mobility for US troops
Terrain Not Ideal
Faster response times for attacks
Lack of LZs (Landing Zones)
Vulnerable to small arms fire
Loud


Technical Developments

In addition to increasing the mobility of US troops, helicopters also became more viable due to the development of newer, more powerful turbine engines which allowed helicopters to travel faster and carry heavier loads. 
Different versions of helicopters were also designed, with some adapted for maximum troop capacity and others for air support. 
However, the helicopters were often vulnerable to small arms fire, which many were lost to.

The Effectiveness of Helicopters

Initially, the Viet Cong were taken by surprise with the introduction of helicopters, but learned to adapt, with one key lesson being the Battle of Ap Bac. As the war went on, helicopters remained a crucial part of the war but lost much of its effectiveness.

Summary of Roles

Troop Transport
Gunship
Bombing runs
Chemical Warfare
Evacuations
Reconnaissance
Supply Drops
Close Air Support (CAS)


Bibliography

http://www.history.com/topics/vietnam-war/weapons-of-the-vietnam-war
https://amcmuseum.org/history/airlift-during-the-vietnam-war/
http://warfarehistorynetwork.com/daily/military-history/tactical-air-mobility/
http://www.mhhv.org.au/?p=3681
http://www.thehistoryreader.com/contemporary-history/helicopter-changed-modern-warfare-vietnam/
https://conflictarchaeology1.files.wordpress.com/2011/12/the-huey-helicopter-and-the-vietnam-war.pdf
https://www.vietnam.ttu.edu/exhibits/helicopter/
http://www.century-of-flight.net/Aviation%20history/jet%20age/military%20helicopter%20history.htm
http://www.militaryhistoryonline.com/vietnam/airpower/
www.historynet.com/the-battle-at-ap-bac-changed-americas-view-of-the-vietnam-war.htm
</pre>

<section>

<div id="form_wrapper">
  <form action="" method="GET" accept-charset="utf-8">
  <div id="input_wrapper">
    <span id="http_prefix">http://</span>
    <input type="text" name="url" placeholder="type url here..." id="url_entry" autofocus><input id="go_button" type="submit" value="Go">
  </div>
  </form>
</div>

<div id="warning">
Fair use: All content belongs to the original copyright holders, respectively.
</div>

</section>

<footer class="secure">
  {% if secure_url %}
  <a href="{{secure_url}}">
  {% endif %}
  <img src="/static/{% if secure_url %}no{% endif %}lock.png" width="16" height="16">
  {% if secure_url %}not secure</a>
  {% else %}secure{% endif %}
</footer>

</body>
</html>
